<div class="footer-container p-d-flex p-flex-column p-ai-stretch">
  <div class="p-ai-center footer-content p-d-flex p-flex-column">
    <div class="p-d-flex p-js-between social-media-icons-container">
      <p-image class="p-d-flex kkr-logo" src="assets/images/full_logo_black_orange.png" alt="Image" width="260"></p-image>
      <div class="footer-sub-content p-d-flex">
        <div class="p-d-flex social-media-icons">
          <img class="icon-social-media" src="assets/icons/social_media/twitter.svg">
          <img class="icon-social-media" src="assets/icons/social_media/facebook.svg">
          <img class="icon-social-media" src="assets/icons/social_media/google_plus.svg">
          <img class="icon-social-media" href="https://www.linkedin.com/in/kakal-kairuchi-74a792228/" src="assets/icons/social_media/linked_in.svg">
        </div>
        <!-- <div class="page-links p-d-flex p-jc-center">
          <span class="page-link"><a class="link-text" routerLink="/home">Home</a></span>
          <span class="page-link"><a class="link-text" routerLink="/about_us">About Us</a></span>
          <span class="page-link"><a class="link-text" routerLink="/franchise">FeedBack/Enquiry</a></span>
          <span class="page-link"><a class="link-text" routerLink="/locations">Locations</a></span>
        </div> -->
      </div>
    </div>
    <!-- <div class="p-d-flex p-flex-column"> -->
      <!-- <p class="footer-sub-header"><u>
        CONTACT US
      </u></p> -->
      <!-- <p># 1/5, 18th Cross, 24th Main, 5th Phase J.P.Nagar<br>Bengaluru – 560078<br>(+91) 94482 81192 / 93 / 95 / 99<br></p> -->
    <!-- </div> -->
    
  </div>
  <div class="copyright p-d-flex p-flex-column">
      <p>Copyright ©2021 Kakal Kai Ruchi All Rights Reserved.</p>
      <!-- <p>Made with love by IT</p> -->
  </div>
</div>