.footer-container {
  padding-top: 10%;
  font-size:15px;
  line-height:24px;
  text-align: center;
  background-color: #323232;
  color: #ffffff;
  min-height: 100vh;
  background-image: url('../../assets/images/footer_bg.jpg');
  position: relative;

  .footer-content {
    align-content: center;
    padding: 0 50px;
    justify-content: space-between;
    flex-direction: row;
  }

  .copyright {
    border-top: 1px solid lightgoldenrodyellow;
    padding: 10px;
    justify-content: center;
    margin-top: 14px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .footer-sub-header {
    font-size: 18px;
  }

  .kkr-logo {
    min-width: 200px;
    justify-content: center;
  }

  .social-media-icons-container {
    margin-left: 14px;
    flex-direction: row;

    .footer-sub-content {
      flex-direction: column;
      position: absolute;
      bottom: 12%;

      .social-media-icons {
        justify-content: center;
        flex-direction: row;
        margin: 20px 0 10px 0;

        .icon-social-media {
          margin: 2px 20px;
          min-height: 32px;
          min-width: 32px;
          max-height: 32px;
          max-width: 32px;
          cursor: pointer;
          z-index: 90;
        }
      }
      .page-links {
        margin-top: 14px;
        flex-direction: row;
        flex-wrap: wrap;

        .page-link {
          border-left: 1px solid rgba(255, 255, 255, 0.5);
          padding: 0 20px;
          .link-text {
            text-transform: uppercase;
            font-weight: 500;
            color: lightgrey;

            &:hover {
              color: white;
            }
          }
          &:first-child {
            border: none;
          }
        }
      }
    }
  }

  @media screen and (max-width: 660px) {
    padding: 18px;
    padding-top: 60%;

    .social-media-icons-container {

      flex-direction: column;
      align-items: center;

      .page-links {
        flex-direction: column;

        .page-link {
          border: none;
        }
      }

      .kkr-logo {
        max-width: 140px;
      }
    }
  }
}