<div class="footer-container p-d-flex p-flex-column p-ai-stretch">
  <div class="p-ai-center footer-content p-d-flex p-flex-column">
    <div class="p-d-flex p-js-between p-flex-row">
      <p-image class="p-d-flex" src="assets/images/full_logo_white_orange.png" alt="Image" width="260"></p-image>
      <div class="footer-sub-content p-d-flex p-ai-center p-flex-column">
        <div class="p-d-flex social-media-icons-container p-flex-row p-jc-between">
          <img class="icon-social-media" src="assets/icons/social_media/twitter.svg">
          <img class="icon-social-media" src="assets/icons/social_media/facebook.svg">
          <img class="icon-social-media" src="assets/icons/social_media/google_plus.svg">
          <img class="icon-social-media" src="assets/icons/social_media/linked_in.svg">
        </div>
        <div class="page-links p-d-flex p-flex-row p-jc-center">
          <p>
            <a class="page-link" routerLink="/home">Home</a>
            <a class="page-link" routerLink="/about_us">About Us</a>
            <!-- <a class="page-link" routerLink="/menu">Menu</a> -->
            <a class="page-link" routerLink="/franchise">FeedBack/ Enquiry</a>
            <a class="page-link" routerLink="/locations">Locations</a>
          </p>
        </div>
      </div>
    </div>
    <!-- <div class="p-d-flex p-flex-column"> -->
      <!-- <p class="footer-sub-header"><u>
        CONTACT US
      </u></p> -->
      <!-- <p># 1/5, 18th Cross, 24th Main, 5th Phase J.P.Nagar<br>Bengaluru – 560078<br>(+91) 94482 81192 / 93 / 95 / 99<br></p> -->
    <!-- </div> -->
    
  </div>
  <div class="copyright p-d-flex p-flex-column">
      <p>Copyright ©2021 Kakal Kai Ruchi All Rights Reserved.</p>
      <!-- <p>Made with love by IT</p> -->
  </div>
</div>