<div class="about-us-container">
  <div class="header">
    Our Journey...
  </div>
  <ul class="timeline">
    <li>
      <div class="direction-r">
        <div class="flag-wrapper">
          <span class="flag">Journey Begins</span>
          <span class="time-wrapper"><span class="time">1970...</span></span>
        </div>
        <div class="desc">
          <div class="image-info-msg">
            The first step towards the Journey
          </div>
          <div class="galleryimg">
            <div class="image-info">
            </div>
            <p-image src="assets/images/home/series/series_2.png" alt="Image" width="400"></p-image>
          </div>
        </div>
      </div>
      <div class="direction-l detailed-description">
        A legacy started as a <strong>Hostel Mess</strong> in 1970 serving authentic<strong> Carnatic Feast</strong> to the locals and students at <strong>Heggodu</strong> (Shivamogga Dist) by beloved parents <strong>Smt. Jayalaxmi and Shri. Kakal Lakshminarayana Rao</strong>
      </div>
    </li>
    <li>
      <div class="direction-l">
        <div class="flag-wrapper">
          <span class="flag">The Inner Spark</span>
          <span class="time-wrapper"><span class="time">1987</span></span>
        </div>
        <div class="desc">
          <div class="image-info-msg">
            Initial Days...
          </div>
          <div class="galleryimg">
            <div class="image-info">
            </div>
            <p-image src="assets/images/home/series/series_3.png" alt="Image" width="400"></p-image>
          </div>
        </div>
      </div>
      <div class="direction-r detailed-description">
        <strong>Mr. Sathish Kakal</strong>, born on 19th November, 1971 as 4th son of <strong>Smt. Jayalaxmi and Shri. Kakal Lakshminarayana Rao</strong>. An <strong>Electrical Engineer</strong>, has spent his childhood assisting his parents in the family's catering business along with his schooling till he relocated to Bengaluru for his higher studies. He has an inborn talent of <strong>Business Management</strong>
      </div>
    </li>
    <li>
      <div class="direction-r">
        <div class="flag-wrapper">
          <span class="flag">Midas Touch</span>
          <span class="time-wrapper"><span class="time">1997</span></span>
        </div>
        <div class="desc">
          <div class="image-info-msg">
            Life & Dream Intensified...
          </div>
          <div class="galleryimg">
            <div class="image-info">
            </div>
            <p-image src="assets/images/home/series/series_2.png" alt="Image" width="400"></p-image>
          </div>
        </div>
      </div>
      <div class="direction-l detailed-description">
        Life and dream intensified with life partner <strong>Mrs. Chaya Kakal</strong>, who is specialist in cooking with gifted knowledge about natural nutritional values of various plants and carries a <strong>Midas Touch</strong> where food is concerned
      </div>
    </li>
    <li>
      <div class="direction-l">
        <div class="flag-wrapper">
          <span class="flag">Utsav Catering Co.</span>
          <span class="time-wrapper"><span class="time">2001 - 2010</span></span>
        </div>
        <div class="desc">
          <div class="image-info-msg">
            This is test description of image
          </div>
          <div class="galleryimg">
            <div class="image-info">
            </div>
            <p-image src="assets/images/home/series/series_3.png" alt="Image" width="400"></p-image>
          </div>
        </div>
      </div>
      <div class="direction-r detailed-description">
        The zeal of <strong>Mr. Sathish Kakal</strong> later transformed this legacy as <strong>Utsav Catering Company</strong> in 2001 in Bengaluru
      </div>
    </li>
    <li>
      <div class="direction-r">
        <div class="flag-wrapper">
          <span class="flag">Kai Ruchi!</span>
          <span class="time-wrapper"><span class="time">13th May 2010</span></span>
        </div>
        <div class="desc">
          <div class="image-info-msg">
            Kai Ruchi - The Taste of Hand
          </div>
          <div class="galleryimg">
            <div class="image-info">
            </div>
            <p-image src="assets/images/home/series/series_2.png" alt="Image" width="400"></p-image>
          </div>
        </div>
      </div>
      <div class="direction-l detailed-description">
        Transformation was further flavoured by Mrs. Chaya Kakal to evolve 'Taste Of Hand' transform into brand "KAKAL KAI RUCHI". A multi-cuisine restaurant to satisfy all cultures.
      </div>
    </li>
    <li>
      <div class="direction-l">
        <div class="flag-wrapper">
          <span class="flag">Establishing Brand</span>
          <span class="time-wrapper"><span class="time">2012</span></span>
        </div>
        <div class="desc">
          <div class="image-info-msg">
            Development Of Brand, Establishing Systems & Processes
          </div>
          <div class="galleryimg">
            <div class="image-info">
            </div>
            <p-image src="assets/images/home/series/series_1.png" alt="Image" width="400"></p-image>
          </div>
        </div>
      </div>
      <div class="direction-r detailed-description">
        Details about Establishing Brand ---------------------------------
      </div>
    </li>
    <!-- Item left -->
    <li>
      <div class="direction-r">
        <div class="flag-wrapper">
          <span class="flag">Expansion</span>
          <span class="time-wrapper"><span class="time">2012 - 2017</span></span>
        </div>
        <div class="desc">
          <div class="image-info-msg">
            Expansion Of Brand
          </div>
          <div class="galleryimg">
            <div class="image-info">
            </div>
            <p-image src="assets/images/home/series/series_3.png" alt="Image" width="400"></p-image>
          </div>
        </div>
      </div>
      <div class="direction-l detailed-description">
        Expansion Details ---------------------------------
      </div>
    </li>
    <li>
      <div class="direction-l">
        <div class="flag-wrapper">
          <span class="flag">Franchise</span>
          <span class="time-wrapper"><span class="time">2018 - 2019</span></span>
        </div>
        <div class="desc">
          <div class="image-info-msg">
            Franchise Journey Begins
          </div>
          <div class="galleryimg">
            <div class="image-info">
            </div>
            <p-image src="assets/images/home/series/series_2.png" alt="Image" width="400"></p-image>
          </div>
        </div>
      </div>
      <div class="direction-r detailed-description">
        Development of Franchise Model and Franchise Journey Begins
      </div>
    </li>
    <li>
      <div class="direction-r">
        <div class="flag-wrapper">
          <span class="flag">The Success Follows</span>
          <span class="time-wrapper"><span class="time">2020 - present</span></span>
        </div>
        <div class="desc">
          <div class="image-info-msg">
            Kakal Kai Ruchi
          </div>
          <div class="galleryimg">
            <div class="image-info">
            </div>
            <p-image src="assets/images/about_us/kkr_render.png" alt="Image" width="400"></p-image>
          </div>
        </div>
      </div>
      <div class="direction-l detailed-description content">
        <h2 class="is-size-5 has-text-weight-bold">Our Strength Comes From Our Strong Values:</h2>
        <ul class="has-text-left">
          <li class="p-0">Integrity and Fairness</li>
          <li class="p-0">Respect and Caring</li>
          <li class="p-0">Diversity</li>
          <li class="p-0">Always Learning, Always Teaching</li>
          <li class="p-0">Being of Service</li>
          <li class="p-0">Teamwork</li>
          <li class="p-0">Excellence</li>
        </ul>  
      </div>
    </li>
  </ul>
</div>

    