$kkr-primary: #f07138;

.side-nav-container {
  background: #00000082;

  .sidenav-burger {
    position: absolute;
    top: 24px;
    left: 24px;
    z-index: 5;
  }

  .divider {
    width: 50px; border-bottom: 1px solid #f07138; max-width: 50px; min-width: 50px;
  }

  .side-nav-item {
    // border-bottom: 1px solid #ababab;
    font-size: 20px;
    padding-left: 20px;
    color: white;
    display: flex;
    flex-direction: column;
  }

  .page-label {
    color: white;
    padding: 14px 2px;
    font-size: 16px;
    font-weight: 400;
  }

  .side-nav-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    max-width: 220px;
    min-width: 220px;
    background: #000000bf;
    z-index: 6;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 72px 0 0;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
  }
}