$kkr-primary: #f07138;

.side-nav-container {
  background: black;

  .sidenav-burger {
    position: absolute;
    top: 24px;
    left: 24px;
    z-index: 5;
  }

  .side-nav-item {
    // border-bottom: 1px solid #ababab;
    font-size: 20px;
    padding-left: 20px;
    color: white;
    display: flex;
    flex-direction: column;
  }

  .page-label {
    color: black;
    padding: 10px 2px;
  }

  .side-nav-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 60vw;
    background: white;
    z-index: 6;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 18px 0 0;
  }
}