$kkr-primary: #f07138;

.side-nav-container {
  background: black;
  // .icon-hamburger {
  //   box-shadow: 0px 0px 10px 4px rgb(255 255 255 / 75%);
  //   -webkit-box-shadow: 0px 0px 10px 4px rgb(255 255 255 / 75%);
  //   -moz-box-shadow: 0px 0px 10px 4px rgb(255 255 255 / 75%);
  //   background-color: rgba(255,255,255,0.75);
  // }


  .side-nav-item {
    border-bottom: 1px solid #ababab;
    font-size: 20px;
    padding: 8px;
    color: white;
  }

  .side-nav-button {
    position: absolute;
    top: 24px;
    left: 12px;
  }

}