<div id="about-us-mobile-container" class="about-us-mobile-container">
  <div class="single-slide transparent">
    <!-- {{slideShowInfo}} -->
    <!-- <p-image src="../../assets/images/product/products_bg.jpg" alt="Image"></p-image> -->
    <!-- <p style="font-size: 32px; color: darkslategray; font-weight: 500; margin-top: 24px;">Our Journey...</p> -->
  </div>


  <!-- ------------------- Step 1----------------------------------- -->
  <div class="single-slide fade">
    <div class="page-header">
      <p class="image-name">
        Journey Begins
      </p>
    </div>
    <div class="img-container">
      <img src="assets/images/home/series/series_2.png">
    </div>
    <div class="year-stepper">
      <div class="year-block">
        1970...
      </div>
      <div class="stepper start"></div>
      <div class="stepper-circle"></div>
    </div>
    
    <div class="description-container">
      <p class="description">
        A legacy started as a <strong>Hostel Mess</strong> in 1970 serving authentic<strong> Carnatic Feast</strong> to the locals and students at <strong>Heggodu</strong> (Shivamogga Dist) by beloved parents <strong>Smt. Jayalaxmi and Shri. Kakal Lakshminarayana Rao</strong>
      </p>
    </div>
  </div>
  <!-- ------------------------Step 2------------------------------ -->
  <div class="single-slide fade">
    <div class="page-header">
      <p class="image-name">
        The Inner Spark
      </p>
    </div>
    
    <div class="img-container">
      <img src="assets/images/home/series/series_2.png">
    </div>

    <div class="year-stepper">
      <div class="year-block">
        1987
      </div>
      <div class="stepper"></div>
      <div class="stepper-circle"></div>
    </div>
    
    <div class="description-container">
      <p class="description">
        <strong>Mr. Sathish Kakal</strong>, born on 19th November, 1971 as 4th son of <strong>Smt. Jayalaxmi and Shri. Kakal Lakshminarayana Rao</strong>. An <strong>Electrical Engineer</strong>, has spent his childhood assisting his parents in the family's catering business along with his schooling till he relocated to Bengaluru for his higher studies. He has an inborn talent of <strong>Business Management</strong>
      </p>
    </div>
  </div>
  <!-- ----------------------------Step 3-------------------------- -->
  <div class="single-slide fade">
    <div class="page-header">
      <p class="image-name">
        Midas Touch
      </p>
    </div>
    <div class="img-container">
      <img src="assets/images/home/series/series_2.png">
    </div>
    <div class="year-stepper">
      <div class="year-block">
        1997
      </div>
      <div class="stepper"></div>
      <div class="stepper-circle"></div>
    </div>
    
    <div class="description-container">
      <p class="description">
        Life and dream intensified with life partner <strong>Mrs. Chaya Kakal</strong>, who is specialist in cooking with gifted knowledge about natural nutritional values of various plants and carries a <strong>Midas Touch</strong> where food is concerned
      </p>
    </div>
  </div>
  <!-- ------------------------Step 4------------------------------ -->
  <div class="single-slide fade">
    <div class="page-header">
      <p class="image-name">
        Utsav Catering Co.
      </p>
    </div>
    <div class="img-container">
      <img src="assets/images/home/series/series_2.png">
    </div>
    <div class="year-stepper">
      <div class="year-block">
        2001 - 2010
      </div>
      <div class="stepper"></div>
      <div class="stepper-circle"></div>
    </div>
    <div class="description-container">
      <p class="description">
        The zeal of <strong>Mr. Sathish Kakal</strong> later transformed this legacy as <strong>Utsav Catering Company</strong> in 2001 in Bengaluru
      </p>
    </div>
  </div>
  <!-- ------------------------Step 5------------------------------ -->
  <div class="single-slide fade">
    
    <div class="page-header">
      <p class="image-name">
        Kakal Kai Ruchi!
      </p>
    </div>
    <div class="img-container">
      <img src="assets/images/home/series/series_2.png">
    </div>
    <div class="year-stepper">
      <div class="year-block">
        13 May, 2010
      </div>
      <div class="stepper"></div>
      <div class="stepper-circle"></div>
    </div>
    
    <div class="description-container">
      <p class="description">
        Transformation was further flavoured by Mrs. Chaya Kakal to evolve 'Taste Of Hand' transform into brand "KAKAL KAI RUCHI". A multi-cuisine restaurant to satisfy all cultures.
      </p>
    </div>
  </div>
  <!-- ------------------------Step 6------------------------------ -->
  <div class="single-slide fade">
    
    <div class="page-header">
      <p class="image-name">
        Establishing Brand
      </p>
    </div>
    <div class="img-container">
      <img src="assets/images/home/series/series_2.png">
    </div>
    <div class="year-stepper">
      <div class="year-block">
        2012
      </div>
      <div class="stepper"></div>
      <div class="stepper-circle"></div>
    </div>
   
    <div class="description-container">
      <p class="description">
        Development Of Brand, Establishing Systems & Processes
      </p>
    </div>
  </div>
  <!-- ------------------------Step 6------------------------------ -->
  <div class="single-slide fade">
    
    <div class="page-header">
      <p class="image-name">
        Expansion
      </p>
    </div>
    <div class="img-container">
      <img src="assets/images/home/series/series_2.png">
    </div>
    <div class="year-stepper">
      <div class="year-block">
        2012 - 2017
      </div>
      <div class="stepper"></div>
      <div class="stepper-circle"></div>
    </div>
    
    <div class="description-container">
      <p class="description">
        Expansion Details ---------------------------------
      </p>
    </div>
  </div>
  <!-- ------------------------Step 6------------------------------ -->
  <div class="single-slide fade">
    <div class="page-header">
      <p class="image-name">
        Franchise
      </p>
    </div>
    
    <div class="img-container">
      <img src="assets/images/home/series/series_2.png">
    </div>
    <div class="year-stepper">
      <div class="year-block">
        2018 - 2019
      </div>
      <div class="stepper"></div>
      <div class="stepper-circle"></div>
    </div>
    
    <div class="description-container">
      <p class="description">
        Development of Franchise Model and Franchise Journey Begins
      </p>
    </div>
  </div>
  <!-- --------------------------Step 4---------------------------- -->
  <div class="single-slide fade">
    <div class="page-header">
      <p class="image-name">
        The Success Follows
      </p>
    </div>
    <div class="img-container">
      <img src="assets/images/home/series/series_2.png">
    </div>
    <div class="year-stepper">
      <div class="year-block">
        2020 - Present
      </div>
      <div class="stepper end"></div>
      <div class="stepper-circle"></div>
    </div>
    
    <div class="description-container">
      <div class="description">
        <h2 class="is-size-5 has-text-weight-bold">Our Strength Comes From Our Strong Values:</h2>
        <ul class="has-text-left">
          <li class="p-0">Integrity and Fairness</li>
          <li class="p-0">Respect and Caring</li>
          <li class="p-0">Diversity</li>
          <li class="p-0">Always Learning, Always Teaching</li>
          <li class="p-0">Being of Service</li>
          <li class="p-0">Teamwork</li>
          <li class="p-0">Excellence</li>
        </ul>
      </div>
    </div>
  </div>
</div>