<div class="about-us-container">
  <div class="about-us-slide">
    This is about us
    <div class="stepper-line">
    
    </div>
  </div>
  <div class="about-us-slide">
    <div class="about-us-image">
    </div>
    <div class="year-stepper-container">
      <div class="about-us-year-block">
        2000 - 2001
        <div class="arrow">

        </div>
        
      </div>
    </div>
    <div class="stepper-line full-width">
      <div class="circle">

      </div>
    </div>
  </div>
  <div class="about-us-slide">
    <div class="about-us-image">
      
    </div>
    <div class="year-stepper-container">
      <div class="about-us-year-block">
        2001 - 2002
        <div class="arrow">

        </div>
      </div>
    </div>
    <div class="stepper-line full-width">
      <div class="circle">

      </div>
    </div>
  </div>
</div>