.about-us-mobile-container {
  position: relative;
  max-height: 100vh;
  min-height: 100vh;
  width: 100%;
  background-color: transparent;
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  .single-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: calc(100vh - var(--scrollbar-height));
    margin-top: 12vh;
    min-width: 30vw;
    scroll-snap-align: start;
    font-size: 3.5ch;
    text-align: center;
    padding: 2vw;

    &.transparent {
      background-color: transparent;
    }

    .year-stepper {
      position: relative;
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;

      .year-block {
        padding: 4px;
        margin: 24px 0 10px 0;
        max-width: 200px;
        min-width: 200px;
        font-size: 20px;
        box-shadow: 0 0px 8px 0 rgb(0 0 0 / 60%);
        font-weight: 700;
        border-radius: 12px;
        border: 1px solid;
      }

      .stepper {
        position: absolute;
        width: 100%;
        top: 0;
        background: #505050;
        height: 8px;

        &.start {
          background: linear-gradient(to left,rgba(80,80,80,0) 0%,#505050 0,#505050 40%,rgba(80,80,80,0) 100%);
        }

        &.end {
          background: linear-gradient(to right, rgba(80, 80, 80, 0) 0%, #505050 0%, #505050 48%, rgba(80, 80, 80, 0) 100%); 
        }
      }

      .stepper-circle {
        position: absolute;
        top: 0;
        right: 49vw;
        content: " ";
        display: block;
        width: 18px;
        height: 18px;
        margin-top: -6px;
        background: #fff;
        border-radius: 10px;
        border: 4px solid #f07138;
        z-index: 1;
      }
    }
    
    .page-header {
      margin-bottom: 14px;
      .image-name {
        max-width: 75vw;
        min-width: 75vw;
        font-size: 16px;
        font-weight: 700;
        box-shadow: 0px 0px 1px 2px red;
        border: 1px solid darkslategrey;
        border-radius: 6px;
        background: linen;
        outline: 1px solid white;
        padding: 4px;
        margin-bottom: 4px;
        text-transform: uppercase;
      }
    }
    
    .description-container {
      display: flex;
      min-height: 20%;
      max-height: 20%;
      max-width: 90%;

      .description {
        font-size: 16px;
        // max-height: 80%;
        // min-height: 80%;
        // max-width: 28vw;
        // min-width: 28vw;
        border-radius: 18px;
        padding: 10px;
        background: cornsilk;
        border: 1px solid orange;
        box-shadow: 0 0px 15px 0 orange, 0 0px 13px 0 rgb(0 0 0 / 19%);
        margin-top: 14px;
        overflow: auto;
      }
    }

    .img-container {
      img {
        // max-width: 75vw;
        // min-width: 75vw;
        // max-height: 75vw;
        // min-height: 75vw;

        max-width: 280px;
        min-width: 280px;
        max-height: 280px;
        min-height: 280px;
        
        border-radius: 20px;
        margin-bottom: 14px;
      }
    }
  }

  @media screen and (max-width: 660px) {
    .single-slide {
      max-height: 100vh;
      min-height: 100vh;
      min-width: 100vw;

      // .page-header {
      //   margin-bottom: 14px;
      //   .image-name {
      //     max-width: 20%;
      //     min-width: 20%;
      //   }
      // }  
      
      // .description {
      //   max-width: 86vw;
      //   min-width: 86vw;
      // }
    }
  }

  // @media screen and (min-height: 640px) {
  //   .single-slide {
  //     margin-top: 14vh;
  //     .description {
  //       min-height: 40%;
  //       max-height: 40%;
  //     }
  //   }
  // }
}