<div id="slide-show-container" class="slide-show-container">
  <div class="single-slide transparent">
    <!-- {{slideShowInfo}} -->
  </div>

  <div *ngFor="let image of imagesList; let i = index">
    <div id="image-one" class="single-slide fade">
      <div class="img-container">
        <img src="{{image.imgUrl}}">
      </div>
      <div class="description-container" style="width: 100%;">
        <p class="image-name">
          {{image.productName}}
        </p>
        <div class="divider"></div>
        <p class="product-details">
          {{image.description}}
        </p>
      </div>
    </div>
    <!-- <button class="nav-button prev" (click)="scrollPrevious()">&#10094;</button>
    <button class="nav-button next" *ngIf="i < (imagesList.length - 1)" (click)="scrollNext()">&#10095;</button> -->
  </div>
</div>