<div class="p-d-flex p-flex-row is-justify-content-center top-nav-container is-flex-wrap-wrap">
  <!-- <div class="side-nav-parent">
    <app-side-nav></app-side-nav>
  </div> -->
  <!-- <div class="only-logo" routerLink="/home">
    <p-image src="assets/icons/hand_logo.png" alt="Image" width="60"></p-image>
  </div> -->
  <div class="is-flex is-align-items-center home-logo" routerLink="/home">
    <p-image *ngIf="activeSection === 1" src="assets/images/full_logo_white_orange.png" alt="Image" width="140"></p-image>
    <p-image *ngIf="activeSection > 1"src="assets/icons/hand_logo.png" alt="Image" width="60"></p-image>
  </div>
  <div class="is-flex is-flex-direction-row is-align-items-center p-d-none p-d-md-inline-flex">
    <!-- Main Navigation -->
    <nav id="nav-main">
      <ul class="is-flex is-flex-direction-row is-align-content-space-between">
        <li class="top-nav-item">
          <a
            class="top-nav-content"
            routerLink="/home"
            (click)="getActiveTab('home')"
            [class.active]="activetab === 'home'">
            Home
          </a>
        </li>
        <li class="top-nav-item">
          <a
            class="top-nav-content"
            routerLink="/about_us"
            (click)="getActiveTab('about')"
            [class.active]="activetab === 'about'"
            >About Us</a
          >
        </li>
        <!-- <li class="top-nav-item">
          <a
            class="top-nav-content"
            routerLink="/menu"
            (click)="getActiveTab('menu')"
            [class.active]="activetab === 'menu'"
            >Menu</a
          >
        </li> -->

        <li class="top-nav-item">
          <a
            class="top-nav-content"  
            routerLink="/franchise"
            (click)="getActiveTab('franchise')"
            [class.active]="activetab === 'franchise'"
            >FeedBack/ Enquiry</a
          >
        </li>
        <li class="top-nav-item">
          <a
            class="top-nav-content"
            routerLink="/locations"
            (click)="getActiveTab('locations')"
            [class.active]="activetab === 'locations'"
            >Locations</a
          >
        </li>
      </ul>
    </nav>
  </div>
  <!-- <div class="p-d-flex p-ai-center">
    <a href="https://kakalkairuchi.dotpe.in/">
      <div class="p-d-flex p-flex-row p-ai-center">
        <div><p-image src="assets/icons/order_online.png" alt="Image" width="44"></p-image></div>
        <div>
          <p class="order-online-text btn-shine">
            Order Online Now!
          </p>
        </div>
      </div>
    </a>
  </div> -->
</div>