.locations-container {
  font-family: serif;
  padding-top: 60px;

  .locations-header-text {
    text-align: center;
    font-size: 60px;
  }

  .mobile {
    display: none;
  }

  .web {
    display: flex;
  }

  .sub-header {
    font-size: 26px;
  }

  .locations-header-container {
    // background-image: url("../../assets/images/locations_top_bg.png");
    position: relative;
    .locations-header {
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
    }
  }

  @media screen and (max-width: 660px) {
    .locations-header-text {
      font-size: 40px;
    }
    .sub-header {
      font-size: 18px;
    }
    .web {
      display: none;
    }
    .mobile {
      display: flex;
    }
  }
}