.locations-container {
  font-family: serif;
  // font-size: 72px;
  // font-weight: 500;
  // letter-spacing: -1.8px;
  padding-top: 140px;
  // justify-content: center;

  .locations-header-text {
    text-align: center;
    font-size: 60px;
  }

  .sub-header {
    font-size: 26px;
  }

  .locations-header-container {
    // background-image: url("../../assets/images/locations_top_bg.png");
    position: relative;
    .locations-header {
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
    }
    .bg-image-container {
      // position: fixed;
      // top: 0;
    }
  }
}