.franchise-container {
  padding-top: 60px;
  .header-container {
    margin-top: 24px;
  }

  .franchise-img-container {
    margin: 40px;
  }
}

.form-container {

  .title {
    padding: 40px;
    min-width: 240px;
    align-self: center;
  }

  .form-area {

    .p-inputtext {
        border-radius: 16px;
        background-color: #363434;
        color: white;
    }
    .input-label {
        font-size: 20px;
        text-align: left;
        color: white;
    }
  }
}

.toast-message {
  position: fixed;
  top: 78px;
  right: 20px;
  max-width: 240px;
  background-color: #333;
  border: 1px soild darkgray;
  border-radius: 12px;
  color: white;
  font-size: 18px;
  padding: 12px;
  z-index: 999;
}

.fade-animation {
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {right: -20; opacity: 0;}
    to {right: 20px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {right: -20; opacity: 0;}
    to {right: 20px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {right: 20px; opacity: 1;}
    to {right: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {right: 20px; opacity: 1;}
    to {right: 0; opacity: 0;}
  }
