.franchise-container {
  padding-top: 60px;
  .header-container {
    margin-top: 24px;
  }

  .franchise-img-container {
    margin: 40px;
  }

  .form-container {

    @media screen and (max-width: 660px) {
      flex-wrap: wrap;
    }

    .title {
      padding: 40px;
      min-width: 240px;
      align-self: center;
    }

    .form-area {
      padding: 40px;
      max-width: 75%;
    }
  }
}