<div style="position: fixed; bottom: 24px; right: 16px; z-index: 100;">
  <div *ngIf="isWidgetOpen" style="border-radius: 8px; padding: 16px; background-color: lightyellow; border: 1px solid #CCC; box-shadow: -5px 6px 14px #CCC;">
    <div class="is-flex is-flex-direction-row form-container" *ngIf="isFormOpen">
      <form #feedback="ngForm" (ngSubmit)="onSubmit(feedback.value)">
        <div class="p-d-flex p-flex-row is-justify-content-space-between is-align-content-space-between">
          <div class="p-d-flex" style="font-size: 18px;">
            <strong>Write To Us</strong>
          </div>
          <div (click)="isWidgetOpen = false">
            <img src="https://img.icons8.com/material/24/000000/delete-sign--v1.png"/>
          </div>
        </div>
        
        <div class="form-area p-d-flex p-flex-column is-justify-content-center is-align-items-center">
          <div class="p-d-flex p-flex-column">
            <div class="p-field p-col-12 p-d-flex p-flex-column m-0">
              <label for="name">Name</label>
              <input ngModel name="name" type="text" class="p-inputtext p-component p-element"> 
            </div>
            <div class="p-field p-col-12 p-d-flex p-flex-column m-0">
              <label for="email">Email</label>
              <input ngModel name="email" id="email" type="email" class="p-inputtext p-component p-element"> 
            </div>
            <div class="p-field p-col-12 p-d-flex p-flex-column m-0">
              <label for="phone">Phone</label>
              <input ngModel name="phone" id="phone" type="number" class="p-inputtext p-component p-element"> 
            </div>
            <div class="p-field p-col-12 p-d-flex p-flex-column m-0">
              <label for="description">Feedback</label>
              <textarea ngModel name="description" id="description" class="p-inputtext p-component p-element"></textarea> 
            </div>
          </div>
          <button style=" margin-top: 16px;
          height: 40px;
          border-radius: 20px;
          max-width: 140px;
          align-items: center;
          justify-self: center;
          background: #3a3a41;
          min-width: 140px;
          color: white;" type="submit" class="p-element p-ripple p-component" pRipple label="Submit">Submit</button>
        </div>
      </form>
    </div>

    <div *ngIf="!isFormOpen" style="display: flex; max-width: 240px; flex-direction: row;">
      <div style="display: flex; color: #000000;">
        Thanks For Your Valuable FeedBack!
      </div>
      <div (click)="resetWidget()">
        <img src="https://img.icons8.com/material/24/000000/delete-sign--v1.png"/>
      </div>
    </div>
  </div>

  <div *ngIf="!isWidgetOpen" (click)="openWidget()" style="
    box-shadow: -5px 6px 22px #ccc;
    max-height: 70px;
    max-width: 70px;
    min-width: 70px;
    padding: 14px 0px 0px 19px;
    min-height: 67px;
    background-color: lightyellow;
    border: 2px solid #ababab;
    border-top-left-radius: 44px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;">
    <!-- <img src="https://img.icons8.com/offices/40/000000/feedback.png"/> -->
    <!-- <img src="https://img.icons8.com/external-wanicon-flat-wanicon/64/000000/external-message-stationery-and-office-wanicon-flat-wanicon.png"/> -->
    <img style="min-height: 30px; max-height: 30px;" src="https://img.icons8.com/ios/50/000000/feedback.png"/>
  </div>  
</div>
