.franchise-container {
  padding-top: 60px;
  .header-container {
    margin-top: 24px;
  }

  .franchise-img-container {
    margin: 40px;
  }

  .form-container {
    .title {
      padding: 40px;
    }

    .form-area {
      padding: 40px;
      max-width: 75%;
    }
  }
}