<div class="home-container">
  <div class="home-mobile-container" id="main">
    <div class="single-section" id="section-one">
      <div class="section-one">
        <video autoplay muted>
          <source src="assets/videos/bg_vada.mp4" type="video/mp4">
        </video>
        <div class="welcome-text" *ngIf="showHeaderButtons">
          <h1 class="header" *ngIf="showHeader">
            {{header}}
          </h1>
          <h2 class="description">
            {{description}}
          </h2>
        </div>
        <div class="btn-order-online-container" *ngIf="showHeaderButtons">
          <a href="https://kakalkairuchi.dotpe.in/">
            <button class="btn-order-online">Order Now!</button>
          </a>
        </div>
      </div>
    </div>
    <div class="single-section">
      <div id="slide-show-container1" class="slide-show-container">
        <div id="image-one" class="single-slide fade">
          <img src="assets/images/home_page_products/jamoon.jpg">
        </div>
        <div id="image-two" class="single-slide fade">
          <img src="assets/images/home_page_products/chakli.jpeg">
        </div>
        <div id="image-three" class="single-slide fade">
          <img src="assets/images/home_page_products/jeera.png">
        </div>
        <div id="image-four" class="single-slide fade">
          <img src="assets/images/home_page_products/rasam.jpeg">
        </div>
        <div id="image-five" class="single-slide fade">
          <img src="assets/images/home_page_products/daniya.png">
        </div>
        <div id="image-six" class="single-slide fade">
          <img src="assets/images/home_page_products/idli_sambar_ina.jpeg">
        </div>
        <div id="image-seven" class="single-slide fade">
          <img src="assets/images/home_page_products/bbb.png">
        </div>
        <div id="image-eight" class="single-slide fade">
          <img src="assets/images/home_page_products/vangi_bath.jpeg">
        </div>
        <button class="nav-button previous" *ngIf="imgIndex > 0 && showNav" (click)="scrollPrevious()">&#10094;</button>
        <button class="nav-button next" *ngIf="imgIndex < 6 && showNav" (click)="scrollNext()">&#10095;</button>
      </div>
    </div>
    <div class="single-section">
      <div id="slide-show-container2" class="slide-show-container">
        <div id="image-one" class="single-slide fade">
          <img src="assets/images/home_page_products_2/cheese_ball.jpg">
        </div>
        <div id="image-two" class="single-slide fade">
          <img src="assets/images/home_page_products_2/grilled_garlic_panner.jpg">
        </div>
        <div id="image-three" class="single-slide fade">
          <img src="assets/images/home_page_products_2/bbq_paneer_tikka.jpg">
        </div>
        <div id="image-four" class="single-slide fade">
          <img src="assets/images/home_page_products_2/peas_cuttlet.jpg">
        </div>
        <div id="image-five" class="single-slide fade">
          <img src="assets/images/home_page_products_2/masala_dosa.jpg">
        </div>
        <button class="nav-button previous" *ngIf="imgIndex > 0 && showNav && showLeft" (click)="scrollPrevious()">&#10094;</button>
        <button class="nav-button next" *ngIf="imgIndex < 6 && showNav && showRight" (click)="scrollNext()">&#10095;</button>
      </div>
    </div>
    <div class="single-section">
      <app-footer></app-footer>
    </div>
</div>
  



  <!-- <div class="top-video-container">
    <video autoplay muted>
      <source src="assets/videos/home_video.mp4" type="video/mp4">
    </video>
  </div> -->
  <!-- <div class="photos-container">

    <div class="enriching-delicious-memories">
      <p-image src="assets/images/enriching_delicious_memories.png" alt="Image" width="810"></p-image>  
    </div>

    <div class="p-d-flex p-flex-row images-container">
      <div class="single-image">
        <div class="image-number">
          1
        </div>
        <p-image src="assets/images/home/series/series_1.png" alt="Image" width="350"></p-image>
      </div>
      <div class="single-image">
        <div class="image-number">
          2
        </div>
        <p-image src="assets/images/home/series//series_2.png" alt="Image" width="350"></p-image>
      </div>
      <div class="single-image">
        <div class="image-number">
          3
        </div>
        <p-image src="assets/images/home/series//series_3.png" alt="Image" width="350"></p-image>
      </div>
      <div class="single-image">
        <div class="image-number">
          4
        </div>
        <p-image src="assets/images/home/series/series_1.png" alt="Image" width="350"></p-image>
      </div>
      <div class="single-image">
        <div class="image-number">
          5
        </div>
        <p-image src="assets/images/home/series//series_2.png" alt="Image" width="350"></p-image>
      </div>
      <div class="single-image">
        <div class="image-number">
          6
        </div>
        <p-image src="assets/images/home/series//series_3.png" alt="Image" width="350"></p-image>
      </div>
      <div class="single-image">
        <div class="image-number">
          7
        </div>
        <p-image src="assets/images/home/series//series_1.png" alt="Image" width="350"></p-image>
      </div>
    </div>
  </div> -->
  <!-- <div>
    <p-image src="assets/images/uniqueness_of_kkr.png" alt="Image" width="1920"></p-image>
  </div> -->
</div>