<div class="home-container">
  <div class="top-video-container">
    <video autoplay>
      <source src="assets/videos/sample_video.mp4" type="video/mp4">
      <!-- <source src="movie.ogg" type="video/ogg"> -->
    </video>
  </div>
  <div class="photos-container">

    <div class="enriching-delicious-memories">
      <p-image src="assets/images/enriching_delicious_memories.png" alt="Image" width="810"></p-image>  
    </div>


    <div class="p-d-flex p-flex-row images-container">
      <div class="single-image">
        <div class="image-number">
          1
        </div>
        <p-image src="assets/images/home/series/series_1.png" alt="Image" width="380"></p-image>
      </div>
      <div class="single-image">
        <div class="image-number">
          2
        </div>
        <p-image src="assets/images/home/series//series_2.png" alt="Image" width="380"></p-image>
      </div>
      <div class="single-image">
        <div class="image-number">
          3
        </div>
        <p-image src="assets/images/home/series//series_3.png" alt="Image" width="380"></p-image>
      </div>
      <div class="single-image">
        <div class="image-number">
          4
        </div>
        <p-image src="assets/images/home/series/series_1.png" alt="Image" width="380"></p-image>
      </div>
      <div class="single-image">
        <div class="image-number">
          5
        </div>
        <p-image src="assets/images/home/series//series_2.png" alt="Image" width="380"></p-image>
      </div>
      <div class="single-image">
        <div class="image-number">
          6
        </div>
        <p-image src="assets/images/home/series//series_3.png" alt="Image" width="380"></p-image>
      </div>
      <div class="single-image">
        <div class="image-number">
          7
        </div>
        <p-image src="assets/images/home/series//series_1.png" alt="Image" width="380"></p-image>
      </div>
    </div>
  </div>
  <div>
    <p-image src="assets/images/uniqueness_of_kkr.png" alt="Image" width="1920"></p-image>
  </div>
</div>