<div class="home-container" id="main">
  <div class="top-nav">
    <app-top-nav [activeSection]="activeSection"></app-top-nav>
  </div>
  <div class="side-nav-parent">
    <app-side-nav (someEvent)="scrollToSection($event)"></app-side-nav>
  </div>

  <div class="section-content" id="section-content" [ngClass]="{'z-index-0': (activeSection === 2 || activeSection === 3 || activeSection === 4), 'justify-start': activeSection === 2 || activeSection === 3}">
    <div class="home-content" *ngIf="activeSection < 4" style="display: flex; flex-direction: column; align-items: center; justify-content: space-around;">
      <span class="header hands-of-sean" [ngClass]="{'text-black': activeSection === 2 || activeSection === 3}">
        {{header}}
      </span>
      <!-- gradient ex: background-image: linear-gradient( 118deg ,#f7bf6d 1%,#f6fafb 89%); -->
      <div class="btn-order-online-container" *ngIf="activeSection === 1">
        <a href="https://kakalkairuchi.dotpe.in/">
          <button class="home-btn btn-order-online">Order Now!</button>
        </a>
      </div>
      <span class="page-description" *ngIf="activeSection === 2 || activeSection === 3">
        {{description}}
      </span>
    </div>
  </div>

  <div class="home-mobile-container">
    <div class="single-section" id="section-one">
      <div class="section-one">
        <span class="curtain">
          <video autoplay muted loop>
            <source src="assets/videos/bg_vada.mp4" type="video/mp4">
          </video>
        </span>
        <!-- <div class="welcome-text" *ngIf="showHeaderButtons">
          <h1 class="header hands-of-sean" *ngIf="activeSection === 1" [ngClass]="{'text-black': (scrollY > sectionHeight - 2) && (scrollY < ((sectionHeight * 3) - 220))}">
            {{header}}
          </h1>
        </div> -->
        <!-- <div class="btn-order-online-container" *ngIf="showHeaderButtons">
          <a href="https://kakalkairuchi.dotpe.in/">
            <button class="home-btn btn-order-online">Order Now!</button>
          </a>
        </div> -->
      </div>
    </div>
    <div class="single-section" id="section-two">
      <app-slide-show (clearTextEvent)="setOpacity($event)" [slideShowIndex]="0" [imagesList]="slideShow1Data"></app-slide-show>
    </div>
    <div class="single-section" id="section-three">
      <app-slide-show (clearTextEvent)="setOpacity($event)" [slideShowIndex]="1" [imagesList]="slideShow2Data"></app-slide-show>
    </div>
    <!-- <div class="single-section" id="section-four">
      <app-about-us-mobile></app-about-us-mobile>
    </div> -->
    <!-- <div class="single-section">
      <div class="welcome-text franchise" *ngIf="scrollY && (scrollY >= sectionHeight*3) && (scrollY < (sectionHeight*6 - 260))">
        <h1 class="header hands-of-sean" style="color: #f07138;">
          Kakal Opportunities
        </h1>
        <h2 class="opportunities" style="font: normal normal normal 36px/1.4em 'playfair display',serif;" *ngIf="scrollY && (scrollY >= sectionHeight*3) && (scrollY < (sectionHeight*4 - (sectionHeight/2)))">
          Own A Franchise
        </h2>
        <h2 class="opportunities" style="font: normal normal normal 36px/1.4em 'playfair display',serif;" *ngIf="scrollY && (scrollY >= sectionHeight*4) && (scrollY < (sectionHeight*5 - (sectionHeight/2)))">
          Investment
        </h2>
        <h2 class="opportunities" style="font: normal normal normal 36px/1.4em 'playfair display',serif;" *ngIf="scrollY && (scrollY >= sectionHeight*5) && (scrollY < (sectionHeight*6 - (sectionHeight/2)))">
          Freelance/Jobs
        </h2>
      </div>
      <div class="btn-order-online-container" *ngIf="scrollY && (scrollY >= sectionHeight*3) && (scrollY < (sectionHeight*4 - (sectionHeight/2)))">
        <button class="home-btn btn-franchise">Franchise Enquiry</button>
      </div>
      <div class="btn-order-online-container" *ngIf="scrollY && (scrollY >= sectionHeight*4) && (scrollY < (sectionHeight*5 - (sectionHeight/2)))">
        <button class="home-btn btn-franchise">Investment</button>
      </div>
      <div class="btn-order-online-container" *ngIf="scrollY && (scrollY >= sectionHeight*5) && (scrollY < (sectionHeight*6 - (sectionHeight/2)))">
        <button class="home-btn btn-franchise">Freelance Jobs</button>
      </div>
    </div> -->
    <!-- <div class="single-section" style="background-color: goldenrod;">
      <div *ngIf="(scrollY >= sectionHeight*4)">
        
      </div>
    </div>
    <div class="single-section" style="background-color: brown;">
      <div *ngIf="(scrollY >= sectionHeight*5)">
      </div>
    </div> -->
    <div class="single-section">
      <app-footer></app-footer>
    </div>
  </div>
  



  <!-- <div class="top-video-container">
    <video autoplay muted>
      <source src="assets/videos/home_video.mp4" type="video/mp4">
    </video>
  </div> -->
  <!-- <div class="photos-container">

    <div class="enriching-delicious-memories">
      <p-image src="assets/images/enriching_delicious_memories.png" alt="Image" width="810"></p-image>  
    </div>

    <div class="p-d-flex p-flex-row images-container">
      <div class="single-image">
        <div class="image-number">
          1
        </div>
        <p-image src="assets/images/home/series/series_1.png" alt="Image" width="350"></p-image>
      </div>
      <div class="single-image">
        <div class="image-number">
          2
        </div>
        <p-image src="assets/images/home/series//series_2.png" alt="Image" width="350"></p-image>
      </div>
      <div class="single-image">
        <div class="image-number">
          3
        </div>
        <p-image src="assets/images/home/series//series_3.png" alt="Image" width="350"></p-image>
      </div>
      <div class="single-image">
        <div class="image-number">
          4
        </div>
        <p-image src="assets/images/home/series/series_1.png" alt="Image" width="350"></p-image>
      </div>
      <div class="single-image">
        <div class="image-number">
          5
        </div>
        <p-image src="assets/images/home/series//series_2.png" alt="Image" width="350"></p-image>
      </div>
      <div class="single-image">
        <div class="image-number">
          6
        </div>
        <p-image src="assets/images/home/series//series_3.png" alt="Image" width="350"></p-image>
      </div>
      <div class="single-image">
        <div class="image-number">
          7
        </div>
        <p-image src="assets/images/home/series//series_1.png" alt="Image" width="350"></p-image>
      </div>
    </div>
  </div> -->
  <!-- <div>
    <p-image src="assets/images/uniqueness_of_kkr.png" alt="Image" width="1920"></p-image>
  </div> -->

  <!-- , 
    notes for me:
    get the menu ready
    menu to be in black and white basic for now. Font size and color, bg color to be decided in next call
    change font color to logo color
    font size: 36px from 30px, use hand of sean for "all" the heading, description, form
    increase font size of prduct names for pages without header


    things to be delivered:
    Content:
    our products header, 
    our products-2 header, 
    
    Kakal opp(3) - design + form inputs, 
    about us, 
    social media links 
  -->
</div>