.home-container {
  background-color: #201e1e;

  .landing-view {
    display: flex;
  }

  .home-mobile-container {
    max-height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

    .single-section {
      // background-attachment: fixed;
      scroll-snap-align: start;
      min-height: 100vh;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      // align-items: center;
      align-items: stretch;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;

      .section-one {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .hands-of-sean {
        font-family: 'Hand Of Sean', sans-serif;
        color: orange;
      }

      .curtain {
        // position: absolute;
        // height: 100%;
        // width: 100%;
        // opacity: 0.4;
        // background-color: black;
        // z-index: 0;
      }
    }

    .welcome-text {
      position: absolute;
      top: 14%;
      justify-content: center;
      z-index: 2;
      text-align: center;

      .header {
        padding: 20px;
        font-size: 32px; color: orange; 
        text-align: center;
      }

      .description {
        font-size: 20px; color: black;
      }

      &.franchise {
        width: 100%;
      }
    }

    .btn-order-online-container {
      position: absolute;
      bottom: 106px;
      z-index: 2;
      width: 100%;
      max-width: 500px;
      padding: 0 20px;

      .home-btn {
        border-radius: 24px;
        min-height: 44px;
        min-width: 100%;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 500;
      }

      .btn-order-online {
        color: #f1863b;
        background-color: lightcyan;
        border: 2px solid #f1863b;
      }

      .btn-franchise {
        color: floralwhite;
        background-color: darkslategray;
        border: 2px solid floralwhite;
      }


    }

    .slide-show-container {
      // position: relative;
      max-height: 100vh;
      min-height: 100vh;
      width: 100%;
      background-color: #020202;
      display: flex;
      overflow-y: hidden;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;

      .single-slide {
        max-height: 100vh;
        min-height: 100vh;
        display: flex;
        align-items: center;


        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - var(--scrollbar-height));
        min-width: 100vw;
        scroll-snap-align: start;
        font-size: 3.5ch;
      }
      
      .nav-button {
        position: absolute;
        font-size: 48px;
        // opacity: 0.8;
        color: chocolate;
        border: none;
        background: transparent;
        top: 42%;
        &.prev {
          left: 10px;
        }
  
        &.next {
          right: 10px;
        }
      }
      
    }
  }

  // background: rgb(212,227,227);
  // background: linear-gradient(0deg, rgba(212,227,227,1) 0%, rgba(253,187,45,0.896796218487395) 74%);

  // .top-video-container {

  // }

  // .photos-container {
  //   min-height: 500px;
  //   .enriching-delicious-memories {
  //     padding: 20px 0 20px 24px;
  //   }

  //   .images-container {
  //     overflow-x: auto;
  //     overflow-y: hidden;
  //     &:hover {
  //       .single-image {
  //         -webkit-animation-play-state:paused;
  //         -moz-animation-play-state:paused;
  //         -o-animation-play-state:paused;
  //         animation-play-state:paused;
  //         cursor: pointer;
  //       }
  //     }

  //     .single-image {
  //       margin-left: 74px;
  //       min-width: 200px;
  //       color: azure;
  //       position: relative;
  //       border-radius: 4px;
  //       border: 3px solid floralwhite;
  //       animation: slide 15s linear infinite;
  //       // box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

  //       img {
  //         border-radius: 8px;
  //       }

  //       .image-number {
  //         font-size: 174px;
  //         position: absolute;
  //         bottom: -24px;
  //         left: -50px;
  //       }
  //     }
  //   }
  // }

  // @keyframes slide {
  //   0% {
  //     transform: translate3d(0, 0, 0);
  //   }
  //   100% {
  //     transform: translate3d(-1500px, 0, 0); /* The image width */
  //   }
  // }


  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .2}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .2}
    to {opacity: 1}
  }

  @media screen and (min-width: 670px) {
    .nav-button {
      display: none;
    }
  }
}