.hero {
  background-image: url('../../assets/images/sample_bg_2.jpg') !important;
  background-position: center center;
  background-size: cover;

  .hero-head {
    margin-top: 40px;
  }

  .text-bold {
    font-weight: 600;
  }
}